*{
    font-family:  "Helvetica Neue";
}
p {
    font-size: 0.85em;
    margin-left: 50%;
    color:blue;
}
svg{
    background: #efefef;
}
.country{
    fill: #87CEEB;
    stroke:black;
}
.selected{
    fill: red;
    stroke: yellow;
}

.trade-line{
    fill: #87CEEB;
    stroke:black;
    
}