*{
    font-family:  "Helvetica Neue";
}
p {
    font-size: 0.85em;
    margin-left: 50%;
    color:blue;
}
svg{
    background: #efefef;
}


  .sphere {
    fill: #bef7e4;
  }

  .land {
    fill: #000;
  }

  .boundary {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-linecap: round;
    vector-effect: non-scaling-stroke;
  }



  path.link {
    fill: red;
    stroke: #666666;
    stroke-width: 1.5px;
  }
  
  .stroke {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
  }
  
  