<!DOCTYPE html>
<meta charset="utf-8">
<script src="https://d3js.org/d3.v3.min.js"></script>

<head>
                                
</head>



<form method="post" onSubmit="postSubmitted()">
    <input name="Country_field" id="CountrySel"  placeholder="Enter country name" >
    <input type="number"  name="Year_field" placeholder="Enter Year" >
    <input type="submit" value="Submit Country and Year" >

</form>



    
<script >

    d3.json("/get-data", function(error, root) {
                    //if (error) throw error;
                    
                 //   partition.nodes(root);
                 //   x.domain([0, root.value]).nice();
                    //down(root, 0);
                    if(error!=null){
                        console.log("Error: ",error)
                    }
                    else if (root!=null){
                        console.log("Data: ",root)
                    }
                });

    // d3.json("/get-loss-data", function(error, root) {
    //                     //if (error) throw error;
                        
    //                  //   partition.nodes(root);
    //                  //   x.domain([0, root.value]).nice();
    //                  //   down(root, 0);
    //                 if(error!=null){
    //                     console.log("Error: ",error)
    //                 }
    //                 else if (root!=null){
    //                     console.log("LossData: ",root)
    //                 }
                     
    // });

    function down(d, i) {
                    if (!d.children || this.__transition__) return;
                    console.log(d)
                }


    function postSubmitted(){
        alert("Post successfull")
    }
                
                    
</script>

</body>
</html>
